.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    min-width: 30rem;
    background-color: white;
    position: relative;
    margin-bottom: 4rem;
    z-index: 6;
}

.game{
    display: flex;
    flex-direction: column;
    width: 70vw;
    min-width: 30rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.container{
    display: flex;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $default-font;
    min-width: 36rem;
}

@media(min-width: 700px){
    .container{
        display: flex;
        flex-direction: row;
    }

    .menu{
        flex: .25;
        margin-left: .25rem;
        margin-right: .25rem;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0rem;
    }
    
    .game{
        flex: .75;
    }
}
