.button_frame{
    display: flex;
    justify-content: space-between;
}

.button{
    font-size: 2rem;
    flex-grow: 1;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: .9rem;
    border: $black .3rem solid;
    transition: all .25s;
    box-shadow: 0rem .5rem .15rem rgba(0, 0, 0, .15);
}

.button:hover{
    background: rgba(52,49,76,.25);
    transform: translateY(-0.3rem);
    box-shadow: 0rem .9rem .15rem rgba(0, 0, 0, .12);
}

.button_clicked{
    transform: translateY(.5rem);
    background: $black;
    color: white;
    box-shadow: 0rem 0rem rgba(0, 0, 0, .12);
}