.menu_mobile_button{
    display: inline-block;
    color: $black;
    font-size: 3.2rem;
    padding: 1rem;
    margin-right: 1rem;
    transition: .25s all;
}

.menu_mobile_button:hover{
    color: rgba(52,49,76, 0.5);
}

.menu_mobile_frame{
    display: flex;
    position: absolute;
    z-index: -2;
    background-color: lightsteelblue;
    width: 100vw;
    justify-content: end;
}

.menu_mobile{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    background-color: $black;
    border: white .5rem solid;
    padding: 2.5rem;
    margin-top: 3rem;
    box-shadow: .25rem .25rem rem rgba(0, 0, 0, 0.75);
    transform-origin: top;
    animation-name: mobile_frame_animation;
    animation-direction: alternate;
    animation-duration: .25s;
    animation-timing-function: ease-in;
}

.menu_title{
    display: inline-block;
    font-family: $title-font;
    font-weight: 700;
    font-size: 3.2rem;
    color: $black;
    margin-left: 1rem;
}

.menu_settings{
    display: none;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.menu_settings_title{
    min-width: 100px;
    font-size: 2.4rem;
    padding-left: 1.8rem;
    margin-top: 1.5rem;
    color: white;
}

.menu_mobile_shadow{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -3;
    min-width: 30rem;
}

@media(min-width: 700px){

    .menu_title{
        font-size: 4.8rem;
    }

    .menu_settings{
        display: flex;

    }

    .menu_settings_title{
        padding-bottom: .5rem;
        color: $black;
    }

    .menu_mobile{
        display: none;
    }

    .menu_mobile_button{
        display: none;
    }

    .menu_mobile_shadow{
        display: none;
    }

}